* {
    padding:1%;
}

a {
    margin:0% 1%;
}

body {
    padding-bottom:10%;
    color:lightsteelblue;
    background-color: #101239; /* req: change colour */ 
}

.btn {
    background:lightsteelblue;
    color:black;
}

img {
    max-width:100%;
}

#twt-handle-input {
    max-width: 50%;
}