body {
    margin:0;
    padding-bottom:10%;
    color:lightsteelblue;
    background-color: #101239; /* req: change colour */ 
}

.container {
    padding:5%;
}

.btn {
    background:lightsteelblue;
    color:black;
    margin: 1%;
    margin-left: 0%;
}

img {
    max-width:100%;
}

#twt-handle-input {
    max-width: 50%;
    margin: 1% 0%;
}