* {
    padding:1%;
}

a, #login-button {
    margin:0% 1%;
}

body {
    padding-bottom:10%;
    color:lightsteelblue;
    background-color: #101239; /* req: change colour */ 
}

.btn {
    background:lightsteelblue;
    color:black;
}

img {
    max-width:100%;
}

#twt-handle-input {
    max-width: 50%;
}

@media only screen and (min-width: 1200) {
    #results-1, #results-2 {
        margin:0 !important;
    }
}

@media only screen and (min-width: 750px){
    #results-row {
        width: 100%;
    }
    #results-1, #results-2 {
        margin:1% !important;
    }
}

.mymodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    margin-top:8%;
}