/* stylesheet for initial page */
body {
    background:lightblue; /* req: change colour */  
    margin:0;
    padding-bottom:10%;
}

#all-container {  
    min-height:100%;
}

.container {
    display:flex;
    flex-direction:column;
    align-items:center; /* req: center everything */
    justify-content:center;
    padding:1% 2%;
}

img {
    max-width:100%;
}
